.article-info {
  width: 700px;
  overflow: hidden;
}

.title-container {
  width: 300px;
  & h3 {
    width: 300px;
  }
}

.likes {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../../Img/Heart.svg") no-repeat center center / contain;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.active {
  background-image: url("../../Img/Heart-active.svg");
}

.tags {
  padding: 0;
  padding-bottom: 3px;
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}
